body {
    background-color: #161616;
    color: wheat;
    overflow: auto;
}
/* logo */
#logo {
    width: 2vw;
}
#logoText {
    color: whitesmoke;
    text-decoration: none;
}
#logoText::after {
    color: whitesmoke;
    text-decoration: none;
}

/* comment section */
#commentsDiv {
    display: flex;
    float: left;
    width: 40vw;
    margin-top: 5vh;
}
.commentsList {
    border-style: inset;
    border-color: whitesmoke;
    width: max-content;
    padding-right: 2vw;
}
h2 {
    font-size: medium;
}
/* discussion topic */
h1 {
    margin-left: 55vw;
}
/* comment input section */
#commentBox {
    display: grid;
    margin-left: 55vw;
    width: 28vw;
    height: 20vh;
}
.btns {
    color: whitesmoke;
    background-color: transparent;
    font-weight: bold;
}
.btns:hover {
    border-style: solid;
    border: whitesmoke;
}
textarea {
    resize: none;
}
/* footer */
#footer {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 7px;
}
.footerItem {
    color: whitesmoke;
    text-decoration: none;
}
/* dark mode */
:root {
    --body-color: #161616;
    --text-color: wheat;
}

body.active {
    background-color: wheat;
    color: #161616;
    --body-color: wheat;
    --text-color: #161616;
}
#theme-toggler {
    position: fixed;
    top: 15px;
    right: 25px;
    padding: 15px 20px;
    font-size: 30px;
    background: var(--text-color);
    color: var(--body-color);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  /* popup window CSS */
  media ="screen"

  *,
  *:before,
  *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  
  /* body{
      background-color: #0855ae; */
  }
  
  .popup{
      background-color: #161616;
      width: 370px;
      padding: 30px 40px;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      border-radius: 8px;
      display: none;
      text-align: center;
  }
  
  .popup button{
      display: block;
      margin: 0 0 20px auto;
      background-color: transparent;
      font-size: 30px;
      color: #161616;
      background: wheat;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      cursor: pointer;
  }
  
  .popup h1{
      margin-top: -20px;
      text-align: center;
      color: wheat;
  }
  
  .popup hr {
      height: 1px;
      background-color: white;
      border: none;
  }
  
  .popup h2{
      text-align: center;
      color: wheat;
  }
  
  .popup p{
      font-size: 25px;
      text-align: justify;
      margin: 20px 0;
      line-height: 25px;
      color: wheat;
  }
    